*, ::after, ::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #fff !important;
  color: #fff;
  font-family: monospace, serif;
  letter-spacing: 0.05em;
}

h1 {
  font-size: 23px;
}

.form {
  width: 300px;
  padding: 64px 15px 24px;
  margin: 0 auto;
}

.form .control {
  margin: 0 0 24px;
}

.form .control input {
  width: 100%;
  padding: 14px 16px;
  border: 0;
  background: transparent;
  color: #7e8185;
  font-family: monospace, serif;
  letter-spacing: 0.05em;
  font-size: 16px;
}

.form .control input:hover, .form .control input:focus {
  outline: none;
  border: 0;
}

.form .btn {
  width: 100%;
  display: block;
  padding: 14px 16px;
  background: transparent;
  outline: none;
  border: 0;
  color: #020024;
  letter-spacing: 0.1em;
  font-weight: bold;
  font-family: monospace;
  font-size: 16px;
}

.blockCube {
  position: relative;
}

.blockCube .bgTop {
  position: absolute;
  height: 10px;
  background: #020024;
  background: #6fbaff;
  bottom: 100%;
  left: 5px;
  right: -5px;
  -webkit-transform: skew(-45deg, 0);
          transform: skew(-45deg, 0);
  margin: 0;
}

.blockCube .bgTop .bgInner {
  bottom: 0;
}

.blockCube .bg {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #020024;
  background: -webkit-gradient(linear, left top, right top, from(#020024), color-stop(37%, #340979), color-stop(94%, #6fbaff)) !important;
  background: linear-gradient(90deg, #020024 0%, #340979 37%, #6fbaff 94%) !important;
}

.blockCube .bgRight {
  position: absolute;
  background: #020024;
  background: #6fbaff !important;
  top: -5px;
  z-index: 0;
  bottom: 5px;
  width: 10px;
  left: 100%;
  -webkit-transform: skew(0, -45deg);
          transform: skew(0, -45deg);
}

.blockCube .bgRight .bgInner {
  left: 0;
}

.blockCube .bg .bgInner {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.blockCube .bgInner {
  background: #fff;
  position: absolute;
  left: 2px;
  top: 2px;
  right: 2px;
  bottom: 2px;
}

.blockCube .text {
  position: relative;
  z-index: 2;
}

.blockCube.blockInput input {
  position: relative;
  z-index: 2;
}

.blockCube.blockInput input:focus ~ .bgRight .bgInner,
.blockCube.blockInput input:focus ~ .bgTop .bgInner,
.blockCube.blockInput input:focus ~ .bgInner .bgInner {
  top: 100%;
  background: #6fbaff;
}

.blockCube.blockInput .bgTop,
.blockCube.blockInput .bgRight,
.blockCube.blockInput .bg {
  background-color: #6fbaff;
  -webkit-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
}

.blockCube.blockInput .bgRight .bgInner,
.blockCube.blockInput .bgTop .bgInner {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.blockCube.blockInput:focus .bgTop,
.blockCube.blockInput:focus .bgRight,
.blockCube.blockInput:focus .bg, .blockCube.blockInput:hover .bgTop,
.blockCube.blockInput:hover .bgRight,
.blockCube.blockInput:hover .bg {
  background: #6fbaff;
}

.blockCube.blockCubeHover:focus .bg .bgInner, .blockCube.blockCubeHover:hover .bg .bgInner {
  top: 100%;
}

.btn:hover .text {
  color: white;
}

.btn.googleButton .bgTop {
  position: absolute;
  height: 10px;
  background: #de5246;
  background: #de5246;
  bottom: 100%;
  left: 5px;
  right: -5px;
  -webkit-transform: skew(-45deg, 0);
          transform: skew(-45deg, 0);
  margin: 0;
}

.btn.googleButton .bgTop .bgInner {
  bottom: 0;
}

.btn.googleButton .bg {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #de5246ed;
  background: #e04637 !important;
}

.btn.googleButton .bgRight {
  position: absolute;
  background: #de5246;
  background: #de5246 !important;
  top: -5px;
  z-index: 0;
  bottom: 5px;
  width: 10px;
  left: 100%;
  -webkit-transform: skew(0, -45deg);
          transform: skew(0, -45deg);
}

.btn.googleButton .bgRight .bgInner {
  left: 0;
}

.btn.googleButton .bg .bgInner {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
/*# sourceMappingURL=Login.module.css.map */