/* *{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	background: #e3e3d8;
	font-family: sans-serif;
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
} */
.card{
  /* border: 1px solid #6196ff; */
	width: 300px;
	height: 400px;
	background: #f4f4f4;
	position: relative;
	/* border-radius: 10px; */
	box-shadow: 0;
	transform: scale(0.95);
	transition: box-shadow .5s ease-in-out,
				transform .5s ease-in-out;
	overflow: hidden;
}
.card:hover{
	transform: scale(1);
	box-shadow: 5px 20px 30px rgba(0,0,0,.2);
}
.imgBox{
	width: 100%;
	height: 80%;
	overflow: hidden;
}
img{
	width: 100%;
	height: 100%;
}
.details{
	position: absolute;
	width: 100%;
	height: 50%;
	background: #f4f4f4be;
	padding: 10px 20px;
	bottom: -30%;
	transition: .5s;
}
.details:hover{
	bottom: 0;
	height: 40%;
}
.textContent{
	position: relative;
	margin-top: 10px;
	color: #555;
}
.name{
  color:#555;
	font-size: 20px;
	padding: 5px 0;
}
.price{
	position: absolute;
	top: 0;
	right: 0;
	font-size: 20px;
}
.colors{
	font-size: 18px;
	margin-top: 15px;
	padding: 10px 0;
	font-weight: bold;
	color: #555;
}
.cardUl{
	display: flex;
}
.cardUl li{
	list-style: none;
	width: 15px;
	height: 15px;
	margin: 5px;
	cursor: pointer;
}
.cardUl li:nth-child(1){
	background: #00f;
}
.cardUl li:nth-child(2){
	background: #f00;
}
.cardUl li:nth-child(3){
	background: #0ff;
}
.cardUl li:nth-child(4){
	background: #ff0;
}
.cardUl li:nth-child(5){
	background: #f0f;
}

.description{
	background: rgb(116,116,116, .9);
	position: absolute;
	width: 140px;
	height: 140px;
	top: -90px;
	right: -90px;
	border-radius: 0 0 200px 200px;
	transition: all .5s, border-radius 1s, top 1s;
}
.description .icon{
	position: absolute;
	top: 100px;
	right: 100px;
	color: #fff;
	opacity: 1;
}
.description:hover{
	width: 100%;
	height: 80%;
	right: 0;
	top: 0;
	border-radius: 0;
}
.description:hover .icon{
	opacity: 0;
}
.description .contents{
	color: #fff;
	padding: 5%;
	transform: scale(0.5);
	transform: translateY(-200%);
	transition: opacity .2s, transform .8s;
	opacity: 0;
}
.description:hover .contents{
	transform: scale(1);
	opacity: 1;
	transform: translateY(0);
}
.description h2{
	margin: 20px 0;
	text-align: center;
}
