.title,.title div span {
	display:inline-block;
  color: #7B7B7B;
  // font-family: 'Simplifica';
  // letter-spacing: 15px;
  letter-spacing: 15px;
  text-transform: uppercase;
  text-align: left;
  font-size: 32px;
  // font-weight: bold;
}

.title div span:last-child{ color:black;}
.title {
	position:relative;
	padding-top:32px;
	margin:0 auto;
}
// .title:before {
// 	content:"";
// 	position:absolute;
// 	top:75px;
// 	left:10;
// 	height:3px;
// 	width:0%;
// 	background:black;
// 	animation: widthize70 .6s 1 cubic-bezier(.7, 0, .175, 1) forwards;
//     -webkit-animation: widthize70 .6s 1 cubic-bezier(.7, 0, .175, 1) forwards;
// }
.title div {
	overflow:hidden;
	width:0%;
	animation: widthize100 .8s 1 .3s cubic-bezier(.7, 0, .175, 1) forwards;
    -webkit-animation: widthize100 .8s 1 .3s cubic-bezier(.7, 0, .175, 1) forwards;
}
.title div span {
	white-space: nowrap;
}

@keyframes widthize70 {
    0% { width: 0%; }
    100% { width: 70%; }
}
@-webkit-keyframes widthize70 {
    0% { width: 0%; }
    100% { width: 70%; }
}
@keyframes widthize100 {
    0% { width: 0%; }
    100% { width: 100%; }
}
@-webkit-keyframes widthize100 {
    0% { width: 0%; }
    100% { width: 100%; }
}
