body {

  font-family: monospace, serif;
  letter-spacing: 0.05em;
  }


  .jumbotron {
    padding-top: 7rem;
    padding-bottom: 5.5rem;
    margin-bottom: 0;

    background: linear-gradient(to bottom, #a0a0a0, #7abfff), url("./images/jumbo.jpg");
    /* background:  url("./images/jumbo.jpg"); */
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;



  }





  .jumbotron .container {
    max-width: 50rem;
    /* background: transparent; */
    /* padding: 2rem; */
    /* color: white; */
  }

  /* .jumbotron p {
    color: white;
    text-shadow: 0 0 10px rgba(0,0,0,0.2);
  } */


  .jumbotron .lead {
    height: 350px;

  }



  /* .slider img, .card-image {
    height: 450px;
    object-fit: cover;
  } */
